@import "tailwindcss";

@theme {
  --color-primary: #7a294a;
  --color-secondary: #0c415a;
  --color-blur: #dadada80;
}

@utility container {
  margin-inline: auto;
  padding-inline: 5rem;
}

:root {
  font-family: "Roboto", "sans-serif";
}
@media screen and (min-width: 360px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 769px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1250px) {
  html {
    font-size: 16px;
  }
}

.testimonials-text,
.testimonials-img,
.testimonials-p {
  position: relative;
}

.testimonials-img::before {
  content: url(./assets/Mainstar.png);
  position: absolute;
  top: -35px;
  left: -25px;
}

.testimonials-text::after {
  content: url(./assets/Mainstar2.png);
  position: absolute;
  bottom: -35px;
}

.testimonials-p::before {
  content: url(./assets/Mainstar3.svg);
  position: absolute;
  bottom: 15px;
  right: -25px;
}
